<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
   
   
    <body>
        <div class="main-content">
             {{>header}}
             <img class="potrait" src="img/IMG_7095.JPG">
        </div>
        
        
        {{>footer}}
    </body>
</html>